.App {
  /* text-align: center; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.App-header {
  background-color: #0366d6;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  /* padding-left: 10vw; */
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: black;
}

.App-header h1 {
  padding-left: 10vw;
}

.App-background {
  display: flex;
  flex-direction: column;
  background-color: black;
  min-height: 90vh;
  justify-content: center;
  align-items: center;
}

.Main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Data {
  margin-left: 40px;
}

.Name {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 25px;
}

.Position {
  margin-right: 15px;
  font-weight: 800;
}

.Data .p {
  align-items: flex-start;
  flex-direction: column;
  position: absolute;
}

.Prev-Next {
  justify-content: space-between;
}

.Main {
  background-color: lightgrey;
  width: 800px;
  height: 500px;
}

.Prev-Next {
  display: flex;
  align-content: space-between;
  width: 800px;
}
